{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Страны{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/css/countries.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Verdana&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
{% csrf_token %}

<!-- Заголовок страницы -->
<h1 class="page-title">Список стран для путешествий</h1>

<!-- Контейнер для карточек стран -->
<section class="country-list">
    {% for el in country %}
    <div class="country-card">
        <div class="card-img">
            <img src="{{ el.photo.url }}" alt="{{ el.name }}">
        </div>
        <div class="card-info">
            <h3 class="text-title">{{ el.name }}</h3>
            <button class="select-btn">Выбрать</button>
        </div>
    </div>
    {% endfor %}

</section>

{% endblock %}
