{% load static %}

<link rel="stylesheet" href="{% static 'main/css/header.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="/admin/">
      <img src="{% static 'main/gif/travel_14193980.gif' %}" alt="TourFastLogo" class="TourFast-Logo">

<span class="logo-text">
  <span class="logo-tour">tour</span><span class="logo-TOUR">FAST🌐</span>
</span>

    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 navbar-left">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Главная</a>
        </li>
<!--         <li class="nav-item">-->
<!--          <a class="nav-link" href="{% url 'map_page' %}">Карта</a>-->
<!--        </li>-->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'countries_page' %}">Страны</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tours_page' %}">Туры</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'hotels_page' %}">Отели</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'contracts_page' %}">Договора</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile_page' %}">
           {% if user.photo %}
            <img src="{{ user.photo.url }}" alt="profile_logo" class="profile-icon" />
          {% else %}
            <img src="{% static 'main/icons/user2.png' %}" alt="profile_logo" class="profile-icon" />
          {% endif %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cart_page' %}">
            <img src="{% static 'main/icons/basketblue.png' %}" alt="cart_logo" class="cart-icon">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://t.me/+zOlX-_eVfIVkOTky" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'main/icons/telegram.png' %}" alt="telegram_logo" class="telegram-icon">
          </a>
        </li>
      </ul>
      {% if not request.user.is_authenticated %}
        <a href="{% url 'login_page' %}" class="btn btn-login">Войти</a>
        <a href="{% url 'registration_page' %}" class="btn btn-register">Регистрация</a>
      {% endif %}
    </div>
  </div>
</nav>