{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Подтверждение заказа{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/css/ordercomplete.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="card">
  <div class="header">
    <div class="image">
      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M20 7L9.00004 18L3.99994 13" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
      </div>
      <div class="content">
         <span class="title">Заказ выполнен!</span>
         <p class="message">Спасибо за покупку! Договор в электронном виде отправится вам на E-Mail В течении 3-х рабочих дней</p>
         </div>
         <div class="actions">
            <a href="{% url 'profile_page' %}" class="profile">Профиль</a>
            <a href="{% url 'tours_page' %}" class="track">Назад к Турам</a>
            </div>
            </div>
            </div>

{% endblock %}