{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/css/start.css' %}">
<link rel="stylesheet" href="{% static 'main/css/toursstartpage.css' %}">
<!-- Подключение Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}

<div class="image-background">
    <!-- Карусель -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'main/img/les_doroga_derevia_131963_3840x2160.jpg' %}" class="d-block w-100" alt="Travel Adventure 1">
            </div>
            <div class="carousel-item">
                <img src="{% static 'main/img/1920x1200_lake-mountains-house-boats-landscape-travel.jpg' %}" class="d-block w-100" alt="Travel Adventure 2">
            </div>
            <div class="carousel-item">
                <img src="{% static 'main/img/stones_snow_mountains_413015_1920x1080.jpg' %}" class="d-block w-100" alt="Travel Adventure 3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Заголовок -->
    <div class="text-overlay">
        <h1 class="meeting-service">🌍tourFAST это -<span class="highlight"> яркие путешествия</span> в новом формате</h1>
    </div>

<!--    &lt;!&ndash; Поле поиска &ndash;&gt;-->
<!--    <div class="search-container">-->
<!--        <input type="text" placeholder="Куда вы хотите?" class="search-input">-->
<!--        <input type="text" placeholder="На какую дату?" class="search-input">-->
<!--        <button class="search-button">Поиск</button>-->
<!--    </div>-->

    <!-- Кнопка "Смотреть все туры" -->
    <div class="button-container">
        <a class="btn watch-all-tours" href="{% url 'tours_page' %}" title="Смотреть туры">
            Смотреть все туры
        </a>
    </div>
</div>


<!-- Блок с карточками туров -->
<section class="tour-list">
    <h2 class="text-center mt-4">Горящие туры</h2>
    <div class="d-flex flex-wrap justify-content-center">
        {% for el in tour %}
        {% csrf_token %}
        <div class="tour-card card">
            <div class="card-img">
                <img src="{{ el.photo.url }}" alt="{{ el.title }}">
            </div>
            <div class="card-info">
                <h3 class="text-title">{{ el.title }}</h3>
                <p class="text-body"><strong>Страна:</strong> {{ el.country.name }}</p>

        <p class="text-body"><strong>Цена:</strong>
    {% if el.old_price %}
        <s class="old-price">{{ el.old_price|floatformat:"-2" }} ₽</s>
        <strong class="new-price">{{ el.price|floatformat:"-2" }} ₽</strong>
        <span class="discount-label">(-{{ el.discount_percentage }}%)</span>
    {% else %}
        <strong class="new-price">{{ el.price|floatformat:"-2" }} ₽</strong>
    {% endif %}
</p>
                <a href="{% url 'tours_page' %}" class="order-btn">
                    <img src="{% static 'main/icons/shopping-bag.png' %}" alt="Cart Icon" class="cart-icon">
                    Оформить
                </a>
            </div>
        </div>
        {% empty %}
        <p class="text-center">Пока нет доступных туров.</p>
        {% endfor %}
    </div>
</section>


<!-- Новая секция для формы подписки и гарантий -->
<div class="subscription-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Подпишитесь на рассылку</h2>
                <p>И вы первыми узнаете о новых и горящих турах!</p>
                <form id="subscribeForm" method="post">
    {% csrf_token %}
    <label for="email">Введите ваш email для подписки:</label>
    <input type="email" name="email" id="email" required>
    <button type="submit" class="btn-subscribe">Подписаться</button>
</form>

<div id="responseMessage" style="display: none;"></div>

                <p class="privacy-notice">Нажимая на кнопку, вы принимаете наше Соглашение о конфиденциальности</p>
            </div>
            <div class="col-md-6">
                <h2>Гарантируем честные цены</h2>
                <ul>
                    <li>Цены на нашем сайте такие же, как у туроператоров, или ниже!</li>
                    <li>Мы предлагаем широкий список туров, быстрое оформление и гибкую систему фильтров!</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('subscribeForm').addEventListener('submit', function(e) {
        e.preventDefault();  // Предотвращаем перезагрузку страницы при отправке формы

        var email = document.getElementById('email').value;

        // Создаем объект с данными формы
        var data = new FormData();
        data.append('email', email);
        data.append('csrfmiddlewaretoken', '{{ csrf_token }}');

        // Отправка запроса через AJAX
        fetch('{% url "subscribe" %}', {
            method: 'POST',
            body: data,
        })
        .then(response => response.json())
        .then(data => {
            // Отображаем сообщение пользователю
            document.getElementById('responseMessage').style.display = 'block';
            if (data.success) {
                document.getElementById('responseMessage').textContent = 'Вы успешно подписались!';
                document.getElementById('email').value = ''; // Очистить поле ввода
            } else {
                document.getElementById('responseMessage').textContent = 'Произошла ошибка при подписке.';
            }
        })
        .catch(error => {
            document.getElementById('responseMessage').style.display = 'block';
            document.getElementById('responseMessage').textContent = 'Произошла ошибка.';
        });
    });
</script>


<footer class="footer-distributed">
    <div class="footer-left">
        <h3>tour<span>FAST</span></h3>
        <p class="footer-links">
<!--            <a href="{% url 'start_page' %}" class="link-1">Главная</a>-->
<!--            <a href="{% url 'tours_page' %}">Туры</a>-->
<!--            <a href="{% url 'hotels_page' %}">Отели</a>-->
<!--            <a href="{% url 'cart_page' %}">Корзина</a>-->
<!--            <a href="{% url 'profile_page' %}">Профиль</a>-->
        </p>
        <p class="footer-company-name">tourFAST © 2025. Все права защищены.
            <br><br>Сайт сделали: Гилячов Айрат и Ахмадеев Ильнур (П-121-3К)</br></br></p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Наш главный офис расположен по адресу:</span>Россия, Казань, Ул. Проспекта Победы, д.68</p>
        </div>
        <div>
            <i class="fa fa-phone"></i>
            <p>+7(843)737-33-67</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">tourfastsupport@gmail.com</a></p>
        </div>
    </div>

    <div class="footer-right">
        <p class="footer-company-about">
            <span>О компании "tourFAST":</span>
           Мы — туристическая компания, стремящаяся дарить клиентам незабываемые впечатления и положительные эмоции от путешествий.
            Наша команда профессионалов постоянно изучает рынок и предлагает горячие предложения, чтобы сделать ваш отдых максимально комфортным и интересным.
        </p>
        <div class="footer-icons">
            <a href="https://t.me/+zOlX-_eVfIVkOTky"><i class="fa fa-telegram"></i></a>
        </div>
    </div>
</footer>


{% endblock %}