{% extends 'main/layout.html' %}
{% load static %}

{% block title %} Главная {% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/css/start.css' %}">
{% endblock %}

{% block body %}

<div class="image-background">
    <img src="{% static 'main/img/boat_mountains_lake_135258_1920x1080.jpg' %}"
         alt="Travel Adventure" id="background-image">

    <!-- Заголовок -->
  <div class="text-overlay">
    <h1 class="meeting-service">Tour Fast это -<span class="highlight"> яркие путешествия</span> в новом формате</h1>
</div>

    <!-- Поле поиска -->
    <div class="search-container">
        <input type="text" placeholder="Куда вы хотите?" class="search-input">
        <input type="text" placeholder="На какую дату?" class="search-input">
        <button class="search-button">Найти</button>
    </div>

    <!-- Кнопка "Смотреть все туры" -->
    <div class="button-container">
        <a class="btn watch-all-tours" href="{% url 'tours_page' %}" title="Смотреть туры">
            Смотреть все туры
        </a>
    </div>
</div>

{% endblock %}