{% extends 'main/layout.html' %}

{% load static %}
{% block title %}Все туры{% endblock %}
{% block links %}
<link rel="stylesheet" href="{% static 'main/css/header.css' %}">

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Verdana&display=swap" rel="stylesheet">

{% endblock %}
{% block body %}
{% csrf_token %}
    <h1>Взрывного тура</h1>
    {% for el in tour %}
        <img src="{{ el.photo.url }}" alt="{{ el }}" class="product-image">
        <div class="alert alert-success">
            <h3>Тур: {{ el.title }} </h3>
            <p>Страна: {{ el.country }} </p>
            <p>Отель: {{ el.hotel }} </p>
            <p>Дата начала: {{ el.start_date }} </p>
            <p>Дата окончания: {{ el.end_date }} </p>
            <p>Цена: {{ el.price }} Рублей </p>

        </div>
    {% endfor %}
{% endblock %}

