.cart-container {
    width: 400px;
    margin: auto;
    background-image: linear-gradient(to top, #837c80, #948e93, #a5a0a7, #b5b3bc, #c5c6d0, #c7ccd7, #c8d2dd, #c9d8e3, #bbd2dc, #aecbd3, #a1c5c8, #96bebc);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2; /* Видео должно быть внизу */
}

/* Затемнение */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Затемняем фон */
    z-index: -1; /* Затемнение поверх видео */
}


h2 {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
    color: black;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.cart-item-img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.cart-item-details {
    flex-grow: 1;
    text-align: left;
    padding: 0 10px;
}

.cart-item-title {
    font-weight: bold;
    font-size: 18px;
}

.cart-item-subtitle {
    font-size: 14px;
    color: gray;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
}

.quantity-btn {
    background-image: linear-gradient(to right top, #39836f, #3b9b8f, #3fb2b2, #47cad7, #59e1fd);
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
}

.quantity-number {
    margin: 0 10px;
    font-size: 16px;
}

.cart-item-price {
    font-size: 18px;
    font-weight: bold;
}

.coupon-section {
    display: flex;
    gap: 10px; /* Добавляет пробел между полем ввода и кнопкой */
    margin-bottom: 15px;
}

.coupon-input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.apply-coupon-btn {
    background-image: linear-gradient(to right top, #55c2a5, #1fc0c3, #01bcdd, #4ab3ec, #82a8ee);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 25px;
    cursor: pointer;
}

.clear-cart-btn {
    background-image: linear-gradient(to right bottom, #ffb9b9, #fc9490, #f46e65, #e74638, #d40000);
    color: black;
    padding: 8px 15px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none; /* Убирает подчеркивание ссылки */
    display: inline-block; /* Чтобы применялись отступы */
    margin-left: 115px; /* Отступ слева */
}

.clear-cart-btn:hover {
background-image: radial-gradient(circle, #970000, #970d0c, #961615, #951e1e, #942525);
color: white;
}

.remove-btn {
   background: black;
    color: white;
    border: none;
    gap: 5px;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 15px;
}

.remove-btn:hover {
background-image: radial-gradient(circle, #210000, #29171d, #33282f, #3e3a3f, #4c4c4c);
font-weight: bold;
color: white;
}

.add-tour-btn {
    width: 100%;
    padding: 10px;
    background-image: linear-gradient(to right top, #39836f, #3b9b8f, #3fb2b2, #47cad7, #59e1fd);
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 15px;
}

.add-tour-btn:hover {
   background-image: linear-gradient(to right bottom, #181818, #2f4658, #0e8090, #36bda2, #acf492);
}

.checkout-btn {
    display: block;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to right bottom, #c4ffed, #9affdb, #70ffc1, #45ffa1, #00ff79);
    color: black;
    padding: 10px;
    border-radius: 25px;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    transition: background 0.5s ease-in-out;
}

.checkout-btn:hover {
   background-image: radial-gradient(circle, #6edc63, #5fb854, #509646, #417538, #32552b);
}


.cart-summary {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
}

.summary-price {
    float: right;
    font-weight: bold;
}

.total-price {
    font-size: 20px;
}


