.cart-container {
    width: 400px;
    margin: auto;
    background-image: linear-gradient(to top, #837c80, #948e93, #a5a0a7, #b5b3bc, #c5c6d0, #c7ccd7, #c8d2dd, #c9d8e3, #bbd2dc, #aecbd3, #a1c5c8, #96bebc);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    margin-bottom: 15px;
    font-size: 22px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.cart-item-img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.cart-item-details {
    flex-grow: 1;
    text-align: left;
    padding: 0 10px;
}

.cart-item-title {
    font-weight: bold;
    font-size: 16px;
}

.cart-item-subtitle {
    font-size: 14px;
    color: gray;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
}

.quantity-btn {
    background-image: linear-gradient(to right top, #39836f, #3b9b8f, #3fb2b2, #47cad7, #59e1fd);
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
}

.quantity-number {
    margin: 0 10px;
    font-size: 16px;
}

.cart-item-price {
    font-size: 18px;
    font-weight: bold;
}

.coupon-section {
    display: flex;
    gap: 10px; /* Добавляет пробел между полем ввода и кнопкой */
    margin-bottom: 15px;
}

.coupon-input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.apply-coupon-btn {
    background-image: linear-gradient(to right top, #55c2a5, #1fc0c3, #01bcdd, #4ab3ec, #82a8ee);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 25px;
    cursor: pointer;
}

.add-tour-btn {
    width: 100%;
    padding: 10px;
    background-image: linear-gradient(to right top, #39836f, #3b9b8f, #3fb2b2, #47cad7, #59e1fd);
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 15px;
}

.cart-summary {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
}

.summary-price {
    float: right;
    font-weight: bold;
}

.total-price {
    font-size: 20px;
}

.checkout-btn {
    display: block;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to right top, #91c2b5, #84ceb3, #7cdaad, #7be4a1, #82ee90);
    color: black;
    padding: 10px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
}
