/* Общие стили для страницы */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Заголовок страницы */
.page-title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin: 20px 0;
    color: #333;
}

/* Контейнер для списка стран */
.country-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 1400px; /* Ограничиваем ширину контейнера */
    margin: 0 auto; /* Центрируем контейнер */
}

/* Карточка страны */
.country-card {
    flex-basis: calc(20% - 20px); /* 20% ширины контейнера минус отступы */
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box; /* Учитываем padding и border в общей ширине */
}

.country-card:hover {
    transform: scale(1.05);
}

/* Фото внутри карточки */
.card-img {
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Контейнер с текстом */
.card-info {
    padding: 15px;
    text-align: center;
}

/* Заголовок страны */
.text-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #333;
}

/* Кнопка "Выбрать" */
.select-btn {
    background-color: #6B8E23;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 25px;
    padding: 5px 15px;
    cursor: pointer;

}

.select-btn:hover {
    background-color: #0056b3;
}




