body {
    font-family: 'Roboto', sans-serif;
    background-color: #A9C7FD;
}

.edit-container {
    width: 400px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    text-align: center;
}

.edit-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.card-details {
    display: flex;
    justify-content: space-between;
}

.card-details input {
    width: 48%;
}

.save-button {
    width: 100%;
    padding: 12px;
    background: #00cb96;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s;
}

.save-button:hover {
    background-color: #4AAB5A;
    transform: translateY(-2px);
}

.back-button {
    display: block; /* Делаем кнопку блочным элементом */
    width: 100%;
    padding: 12px;
    background: #1fcdff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    text-align: center; /* Выравнивание текста по центру */
    transition: 0.3s;
    text-decoration: none; /* Убираем подчеркивание */
}

.back-button:hover {
    background-color: #5886DA;
    transform: translateY(-2px);
}


