/* Navbar с закругленными углами */
.navbar-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    background-color: #94f9ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для эффекта объема */
    margin: 0px; /* Добавляет отступы сверху и по бокам */
}

.nav-link {
    font-size: 18px;
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.nav-link:hover {
    color: #295fff; /* Голубой цвет при наведении */
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar-brand {
    display: flex;
    align-items: center;
    font-family: 'Arial', serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FF8C00;
    text-decoration: none;
    margin-left: 20px;
}

.btn-login {
    background-color: #00b270;
    font-weight:bold;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    margin-left: 10px;
    text-decoration: none;
}

.btn-login:hover {
   background-color: #55CF6F; /* Темнее зелёный при наведении */
    transform: scale(1.05); /* Немного увеличивается при наведении */
}

.btn-register {
   background-color: #4896be; /* Голубой цвет */
    font-weight:bold;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    margin-left: 10px;

}

.btn-register:hover {
    background-color: #35D5DC; /* Темнее голубой при наведении */
    transform: scale(1.05); /* Немного увеличивается при наведении */
}

.TourFast-Logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 35px;
    margin-right: 10px;
}

.logo-text {
    font-size: 22px;
    color: #1E90FF;
    font-family: 'comic sans ms', sans-serif;
}

.nav-link.active {
    color: #3CB371;
}

/* Иконки */
.cart-icon,
.telegram-icon,
.profile-icon {
    width: 25px;
    height: 25px;
    max-height: 25px;
    margin-right: 15px;
}

.cart-icon {
    width: 28px;
    height: 28spx;
}

.telegram-icon {
    width: 27px;
    height: 27px;
    max-height: 27px;
    margin-right: 15px;
}

.profile-icon {
    width: 27px;
    height: 27px;
    max-height: 27px;
    margin-right: 15px;
}


