#map {
  height: 600px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

.title {
  text-align: center;
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
}
