body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

.payment-container {
    width: 400px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    text-align: center;
}

.payment-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.card-details {
    display: flex;
    justify-content: space-between;
}

.card-details input {
    width: 48%;
}

.pay-button {
    width: 100%;
    padding: 12px;
    background: black;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s;
}

.pay-button:hover {
    background-image: linear-gradient(to right top, #00b31f, #27b738, #3bbc4b, #4bc05c, #5ac46c);
}


.back-button {
    width: 100%;
    padding: 12px;
    background-image: linear-gradient(to right top, #ff0000, #e60001, #ce0001, #b60001, #9f0000);;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s;
}

.back-button:hover {
    background-image: linear-gradient(to right top, #ffffff, #b9b9b9, #777777, #3b3b3b, #000000);
}

.payment-info {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

.payment-methods {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.payment-methods img {
    width: 50px;
    height: auto;
}
