/* Общие стили для текста и элементов */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Основной шрифт для всех элементов */
body {
    font-family: 'Verdana', sans-serif;
    background-color: #FFDEAD;
    position: relative;
}

/* Стили для видео на фон */
video.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Стили для контейнера фильтров */
.filters {
    width: 20%;
    background-color: rgba(29, 29, 29, 0.7);
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Стили для текста в фильтрах */
.filters h1, .filters h2, .filters h3, .filters h4 {
    color: white;
    margin-bottom: 15px;
}

.filters h4 {
    font-weight: bold;
}

/* Стили для карточек туров */
.cookie-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width: 70%;
    padding: 20px;
    min-height: 400px;
}

.cookie-item {
    background-color: rgba(250, 250, 250, 0.7);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cookie-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.cookie-item h3 {
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Стили для изображений туров */
.cookie-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Кнопка выбора */
.select-button {
    align-items: center;
    background-color: #ffffff;
    color: black;
    width: 300px;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 35px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.select-button:hover {
    background-color: #e83b42;
}

.select-button .button-icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

/* Стили для кнопок */
button {
    padding: 10px 20px;
    background-color: #FF8C00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2c8a43;
}

/* Стили для фильтров */
.colors {
    display: flex;
    gap: 10px;
}

.color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.color:hover {
    opacity: 0.7;
}

/* Кнопка назад */
.back-button {
    position: fixed;
    bottom: 196px;
    left: 85px;
    background-color: #FF8C00;
    color: black;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #DC143C;
}

